.content-sidebar-button {
  display: block;
  margin: auto;
  padding: 16px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid #dbdbdb;
  }
}
