.timeline-controls {
  background-color: #666666;
  color: #9b9b9b;
  display: flex;
  padding: 20px 24px 0;
}

.timeline-controls__play-pause.MuiSvgIcon-root {
  font-size: 56px;
  margin-right: 24px;
}

